# nvidia binaries files
/vendor/nvidia/tegra/

# other platform large files
/device/nvidia/platform/falcon/
/device/nvidia/platform/hawkeye/
/device/nvidia/platform/t210/assets/

# compilation output
/out/
